@{
    ViewData["Title"] = "Documentation";
}

<div>
    <h1 class="display-4">Documentation ApdWebEmailService</h1>
    <h2>By Stefan König, Han Bao Truong and Alejandro Munilla (Apd Dev Team) </h2>
    <br/>
    <h3>Intended for Apd Team</h3>
 </div>
<img src="@Url.Content("~/Content/test.png")"  alt="Application Developer">

