html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.column{
    float: left;
    width: 50%;
    padding: 5px;
}
/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}
